rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /bukti_pengeluaran/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.resource.size < 5 * 1024 * 1024; // Max 5MB
    }
  }
}
